
<% @events.each do |event|%>

  <div class="box_container">
    <div class="name">
      <%= link_to event.name,event_path_url(event.id) %>
    </div>
    <div class="image">
      <%= image_tag event.image_url(:thumb_150) if event.image? %>
    </div>
  </div>
  
  
<% end %>