<h1>Listing events</h1>


<table>
  <tr>
    <th>Serie  </th>
    <th>Name  </th>
    <th>Date</th>
    <th>Stall available</th>
    <th>Stall reserve</th>
    <th>Exception</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% logger.fatal events.inspect %>
<% logger.fatal "partial" %>
<% logger.fatal @events.inspect %>


<% @events.each do |t| %>
 hola2
 
 <% logger.fatal t.inspect %>
 
 <%= t.id %>
 <%= t.name %>
 <>
 <>
    <% end %>
</table>

<br />

