<!DOCTYPE html>
<html>
<head>
  <title>TikcetRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
       <link type="text/css" href="http://jqueryui.com/latest/themes/base/ui.all.css" rel="stylesheet" />
         <script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.core.js"></script>
  <script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.datepicker.js"></script>
 

  
  
</head>
<body>
  <%= render "shared/sign_in" %>

<%= yield %>

</body>
 
</html>
